
.contentWrapper{
 padding: 15px;
 grid-gap: 15px;
   display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  justify-content: center;
 
}
.selectContainer{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
   background: black;
}

.box select {
  
  background-color: rgb(200, 0, 255);
  color: white;
  padding: 5px;
  margin: 5px;
  width: 150px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 5px 15px rgba(225, 0, 255, 0.687);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.paginationBox{

	background: black;
   display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}



@media screen and (max-width: 1052px){
    .box select{
       padding: 7px 10px; 
       width: 65px;
       height: 15px;
       font-size: 5px;
    }
}

.reloadBtnContainer{
   display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}
/* button styling */
.reloadBtn {
  --border-right: 6px;
  --text-stroke-color: rgba(0, 0, 0, 0.6);
  --animation-color: lime;
  --fs-size: 1em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hoverText {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.reloadBtn:hover .hoverText{
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}




/* ---Loading --- */

.loaderAlign{
  display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    margin-top: 200px;
}

.loader {
  width: 10em;
  height: 10em;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: rgb(200, 0, 255);
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}