/* .body {
    
    background: url('https://cutewallpaper.org/25/animated-wallpaper-laptop-video-game/artstation-rog-wallpaper-design-pixel-jeff-pixel-art-background-desktop-wallpaper-art-anime-scenery-wallpaper.gif');
     min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    background-size: cover;
    position:absolute;
    top: 10;
    left: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.landing-title{
    text-shadow: 2px 0 0 rgb(25, 24, 24), -2px 0 0 rgb(25, 24, 24), 0 2px 0 rgb(25, 24, 24), 0 -2px 0 rgb(25, 24, 24), 1px 1px rgb(25, 24, 24), -1px -1px 0 rgb(25, 24, 24), 1px -1px 0 rgb(25, 24, 24), -1px 1px 0 rgb(25, 24, 24);
    text-align: center;
    color: #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 250px;
    font-size: 70px;
   
} */